In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('census_list_June28.csv')
df

    Case number           SSID Form                  Location  Survey Activity
0      39409241  48065504 0052  2AL      66 BRIDLECREST RD SW  CENSUS      I/E
1      39409346  48065504 0144  2AL       2205-16969 24 ST SW  CENSUS      I/E
2      39409355  48065504 0160  2AL       2305-16969 24 ST SW  CENSUS      I/E
3      39409496  48065504 0316  2AL       5114-16969 24 ST SW  CENSUS      I/E
4      39409504  48065504 0288  2AL       4303-16969 24 ST SW  CENSUS      I/E
5      39409522  48065504 0304  2AL       5102-16969 24 ST SW  CENSUS      I/E
6      39410522  48065518 0578  2AL  307 BRIDLECREEK GREEN SW  CENSUS      I/E
7      39410534  48065518 0606  2AL  141 BRIDLECREEK GREEN SW  CENSUS      I/E
8      39410622  48065518 0282  2AL     215 BRIDLEWOOD AVE SW  CENSUS      I/E
9      39410642  48065518 0014  2AL     99 BRIDLEWOOD VIEW SW  CENSUS      I/E
10     39410699  48065518 0038  2AL     77 BRIDLERIDGE CIR SW  CENSUS      I/E
11     39411992  48065532 0043  2AL     196 BRIDLEWOOD AVE SW  CENSUS      I/E
12     39412097  48065532 0183  2AL    94 BRIDLEWOOD MANOR SW  CENSUS      I/E
13     39412220  48065533 0387  2AL     94 BRIDLERANGE CIR SW  CENSUS      I/E
14     39412308  48065533 0127  2AL  8-8 BRIDLERIDGE MANOR SW  CENSUS      I/E
15     39412470  48065535 0188  2AL     110 BRIDLEWOOD WAY SW  CENSUS      I/E
16     39412485  48065535 0200  2AL      62 BRIDLEWOOD WAY SW  CENSUS      I/E
17     39412488  48065535 0220  2AL       55 BRIDLEWOOD RD SW  CENSUS      I/E
18     39412520  48065536 0238  2AL  200 BRIDLEWOOD COMMON SW  CENSUS      I/E
19     39412576  48065535 0300  2AL  530 BRIDLECREEK GREEN SW  CENSUS      I/E
20     39412613  48065535 0316  2AL    60 BRIDLECREEK TERR SW  CENSUS      I/E
21     39412643  48065536 0038  2AL       65 BRIDLEWOOD PK SW  CENSUS      I/E
22     39412666  48065535 0028  2AL    129 BRIDLEWOOD LANE SW  CENSUS      I/E
23     39412696  48065535 0072  2AL    122 BRIDLEWOOD LANE SW  CENSUS      I/E
24     48791007  48065504 0149   2A       2210-16969 24 ST SW  CENSUS      I/E
25     48791136  48065504 0190   2A       3119-16969 24 ST SW  CENSUS      I/E
26     48791213  48065505 0147   2A      8 BRIDLECREST CRT SW  CENSUS      I/E
27     48791361  48065505 0115   2A     17 BRIDLECREST CRT SW  CENSUS      I/E
28     48794738  48065518 0045   2A    137 BRIDLERIDGE CIR SW  CENSUS      I/E
29     48794997  48065518 0247   2A    76 BRIDLERIDGE GDNS SW  CENSUS      I/E
30     48795077  48065518 0663   2A     74 R BRIDLEWOOD DR SW  CENSUS      I/E
31     48795079  48065518 0557   2A     213 BRIDLECREEK PK SW  CENSUS      I/E
32     48799270  48065532 0181   2A    90 BRIDLEWOOD MANOR SW  CENSUS      I/E
33     48799408  48065532 0144   2A     183 BRIDLEWOOD WAY SW  CENSUS      I/E
34     48799509  48065533 0064   2A   201 BRIDLERIDGE VIEW SW  CENSUS      I/E
35     48799702  48065533 0416   2A    16 BRIDLERIDGE LANE SW  CENSUS      I/E
36     48799786  48065533 0468   2A   260 BRIDLERIDGE VIEW SW  CENSUS      I/E
37     48800486  48065535 0221   2A       51 BRIDLEWOOD RD SW  CENSUS      I/E
38     48800549  48065535 0238   2A      307 BRIDLEWOOD PL SW  CENSUS      I/E
39     48800597  48065535 0157   2A    51 BRIDLECREEK GATE SW  CENSUS      I/E
40     48800664  48065535 0185   2A     122 BRIDLEWOOD WAY SW  CENSUS      I/E
41     48800722  48065536 0077   2A       10 BRIDLEWOOD PK SW  CENSUS      I/E
42     48800790  48065536 0281   2A    182 BRIDLERIDGE WAY SW  CENSUS      I/E
43     48800801  48065536 0112   2A    34 BRIDLEWOOD GROVE SW  CENSUS      I/E
44     48800817  48065536 0100   2A      93 BRIDLEWOOD WAY SW  CENSUS      I/E
45     48800872  48065536 0123   2A     22 BRIDLEWOOD GDNS SW  CENSUS      I/E
46     48800958  48065536 0241   2A  212 BRIDLEWOOD COMMON SW  CENSUS      I/E
47     48801025  48065536 0279   2A    190 BRIDLERIDGE WAY SW  CENSUS      I/E
48     51958729  48065533 0521   2A   5-422 BRIDLEWOOD AVE SW  CENSUS      I/E

In [3]:
df.describe

<bound method NDFrame.describe of     Case number           SSID Form                  Location  Survey Activity
0      39409241  48065504 0052  2AL      66 BRIDLECREST RD SW  CENSUS      I/E
1      39409346  48065504 0144  2AL       2205-16969 24 ST SW  CENSUS      I/E
2      39409355  48065504 0160  2AL       2305-16969 24 ST SW  CENSUS      I/E
3      39409496  48065504 0316  2AL       5114-16969 24 ST SW  CENSUS      I/E
4      39409504  48065504 0288  2AL       4303-16969 24 ST SW  CENSUS      I/E
5      39409522  48065504 0304  2AL       5102-16969 24 ST SW  CENSUS      I/E
6      39410522  48065518 0578  2AL  307 BRIDLECREEK GREEN SW  CENSUS      I/E
7      39410534  48065518 0606  2AL  141 BRIDLECREEK GREEN SW  CENSUS      I/E
8      39410622  48065518 0282  2AL     215 BRIDLEWOOD AVE SW  CENSUS      I/E
9      39410642  48065518 0014  2AL     99 BRIDLEWOOD VIEW SW  CENSUS      I/E
10     39410699  48065518 0038  2AL     77 BRIDLERIDGE CIR SW  CENSUS      I/E
11     39411992  48065532 0043  2AL     196 BRIDLEWOOD AVE SW  CENSUS      I/E
12     39412097  48065532 0183  2AL    94 BRIDLEWOOD MANOR SW  CENSUS      I/E
13     39412220  48065533 0387  2AL     94 BRIDLERANGE CIR SW  CENSUS      I/E
14     39412308  48065533 0127  2AL  8-8 BRIDLERIDGE MANOR SW  CENSUS      I/E
15     39412470  48065535 0188  2AL     110 BRIDLEWOOD WAY SW  CENSUS      I/E
16     39412485  48065535 0200  2AL      62 BRIDLEWOOD WAY SW  CENSUS      I/E
17     39412488  48065535 0220  2AL       55 BRIDLEWOOD RD SW  CENSUS      I/E
18     39412520  48065536 0238  2AL  200 BRIDLEWOOD COMMON SW  CENSUS      I/E
19     39412576  48065535 0300  2AL  530 BRIDLECREEK GREEN SW  CENSUS      I/E
20     39412613  48065535 0316  2AL    60 BRIDLECREEK TERR SW  CENSUS      I/E
21     39412643  48065536 0038  2AL       65 BRIDLEWOOD PK SW  CENSUS      I/E
22     39412666  48065535 0028  2AL    129 BRIDLEWOOD LANE SW  CENSUS      I/E
23     39412696  48065535 0072  2AL    122 BRIDLEWOOD LANE SW  CENSUS      I/E
24     48791007  48065504 0149   2A       2210-16969 24 ST SW  CENSUS      I/E
25     48791136  48065504 0190   2A       3119-16969 24 ST SW  CENSUS      I/E
26     48791213  48065505 0147   2A      8 BRIDLECREST CRT SW  CENSUS      I/E
27     48791361  48065505 0115   2A     17 BRIDLECREST CRT SW  CENSUS      I/E
28     48794738  48065518 0045   2A    137 BRIDLERIDGE CIR SW  CENSUS      I/E
29     48794997  48065518 0247   2A    76 BRIDLERIDGE GDNS SW  CENSUS      I/E
30     48795077  48065518 0663   2A     74 R BRIDLEWOOD DR SW  CENSUS      I/E
31     48795079  48065518 0557   2A     213 BRIDLECREEK PK SW  CENSUS      I/E
32     48799270  48065532 0181   2A    90 BRIDLEWOOD MANOR SW  CENSUS      I/E
33     48799408  48065532 0144   2A     183 BRIDLEWOOD WAY SW  CENSUS      I/E
34     48799509  48065533 0064   2A   201 BRIDLERIDGE VIEW SW  CENSUS      I/E
35     48799702  48065533 0416   2A    16 BRIDLERIDGE LANE SW  CENSUS      I/E
36     48799786  48065533 0468   2A   260 BRIDLERIDGE VIEW SW  CENSUS      I/E
37     48800486  48065535 0221   2A       51 BRIDLEWOOD RD SW  CENSUS      I/E
38     48800549  48065535 0238   2A      307 BRIDLEWOOD PL SW  CENSUS      I/E
39     48800597  48065535 0157   2A    51 BRIDLECREEK GATE SW  CENSUS      I/E
40     48800664  48065535 0185   2A     122 BRIDLEWOOD WAY SW  CENSUS      I/E
41     48800722  48065536 0077   2A       10 BRIDLEWOOD PK SW  CENSUS      I/E
42     48800790  48065536 0281   2A    182 BRIDLERIDGE WAY SW  CENSUS      I/E
43     48800801  48065536 0112   2A    34 BRIDLEWOOD GROVE SW  CENSUS      I/E
44     48800817  48065536 0100   2A      93 BRIDLEWOOD WAY SW  CENSUS      I/E
45     48800872  48065536 0123   2A     22 BRIDLEWOOD GDNS SW  CENSUS      I/E
46     48800958  48065536 0241   2A  212 BRIDLEWOOD COMMON SW  CENSUS      I/E
47     48801025  48065536 0279   2A    190 BRIDLERIDGE WAY SW  CENSUS      I/E
48     51958729  48065533 0521   2A   5-422 BRIDLEWOOD AVE SW  CENSUS      I/E>

In [4]:
df.columns

Index(['Case number', 'SSID', 'Form', 'Location', 'Survey', 'Activity'], dtype='object')

In [5]:
df.shape

(49, 6)

In [6]:
df[['Location']]

                    Location
0       66 BRIDLECREST RD SW
1        2205-16969 24 ST SW
2        2305-16969 24 ST SW
3        5114-16969 24 ST SW
4        4303-16969 24 ST SW
5        5102-16969 24 ST SW
6   307 BRIDLECREEK GREEN SW
7   141 BRIDLECREEK GREEN SW
8      215 BRIDLEWOOD AVE SW
9      99 BRIDLEWOOD VIEW SW
10     77 BRIDLERIDGE CIR SW
11     196 BRIDLEWOOD AVE SW
12    94 BRIDLEWOOD MANOR SW
13     94 BRIDLERANGE CIR SW
14  8-8 BRIDLERIDGE MANOR SW
15     110 BRIDLEWOOD WAY SW
16      62 BRIDLEWOOD WAY SW
17       55 BRIDLEWOOD RD SW
18  200 BRIDLEWOOD COMMON SW
19  530 BRIDLECREEK GREEN SW
20    60 BRIDLECREEK TERR SW
21       65 BRIDLEWOOD PK SW
22    129 BRIDLEWOOD LANE SW
23    122 BRIDLEWOOD LANE SW
24       2210-16969 24 ST SW
25       3119-16969 24 ST SW
26      8 BRIDLECREST CRT SW
27     17 BRIDLECREST CRT SW
28    137 BRIDLERIDGE CIR SW
29    76 BRIDLERIDGE GDNS SW
30     74 R BRIDLEWOOD DR SW
31     213 BRIDLECREEK PK SW
32    90 BRIDLEWOOD MANOR SW
33     183 BRIDLEWOOD WAY SW
34   201 BRIDLERIDGE VIEW SW
35    16 BRIDLERIDGE LANE SW
36   260 BRIDLERIDGE VIEW SW
37       51 BRIDLEWOOD RD SW
38      307 BRIDLEWOOD PL SW
39    51 BRIDLECREEK GATE SW
40     122 BRIDLEWOOD WAY SW
41       10 BRIDLEWOOD PK SW
42    182 BRIDLERIDGE WAY SW
43    34 BRIDLEWOOD GROVE SW
44      93 BRIDLEWOOD WAY SW
45     22 BRIDLEWOOD GDNS SW
46  212 BRIDLEWOOD COMMON SW
47    190 BRIDLERIDGE WAY SW
48   5-422 BRIDLEWOOD AVE SW

In [8]:
df[(df['Location'].str.contains('BRIDLEWOOD'))].sort_values(by='Location',ascending=False )

    Case number           SSID Form                  Location  Survey Activity
9      39410642  48065518 0014  2AL     99 BRIDLEWOOD VIEW SW  CENSUS      I/E
12     39412097  48065532 0183  2AL    94 BRIDLEWOOD MANOR SW  CENSUS      I/E
44     48800817  48065536 0100   2A      93 BRIDLEWOOD WAY SW  CENSUS      I/E
32     48799270  48065532 0181   2A    90 BRIDLEWOOD MANOR SW  CENSUS      I/E
30     48795077  48065518 0663   2A     74 R BRIDLEWOOD DR SW  CENSUS      I/E
21     39412643  48065536 0038  2AL       65 BRIDLEWOOD PK SW  CENSUS      I/E
16     39412485  48065535 0200  2AL      62 BRIDLEWOOD WAY SW  CENSUS      I/E
17     39412488  48065535 0220  2AL       55 BRIDLEWOOD RD SW  CENSUS      I/E
37     48800486  48065535 0221   2A       51 BRIDLEWOOD RD SW  CENSUS      I/E
48     51958729  48065533 0521   2A   5-422 BRIDLEWOOD AVE SW  CENSUS      I/E
43     48800801  48065536 0112   2A    34 BRIDLEWOOD GROVE SW  CENSUS      I/E
38     48800549  48065535 0238   2A      307 BRIDLEWOOD PL SW  CENSUS      I/E
45     48800872  48065536 0123   2A     22 BRIDLEWOOD GDNS SW  CENSUS      I/E
8      39410622  48065518 0282  2AL     215 BRIDLEWOOD AVE SW  CENSUS      I/E
46     48800958  48065536 0241   2A  212 BRIDLEWOOD COMMON SW  CENSUS      I/E
18     39412520  48065536 0238  2AL  200 BRIDLEWOOD COMMON SW  CENSUS      I/E
11     39411992  48065532 0043  2AL     196 BRIDLEWOOD AVE SW  CENSUS      I/E
33     48799408  48065532 0144   2A     183 BRIDLEWOOD WAY SW  CENSUS      I/E
22     39412666  48065535 0028  2AL    129 BRIDLEWOOD LANE SW  CENSUS      I/E
40     48800664  48065535 0185   2A     122 BRIDLEWOOD WAY SW  CENSUS      I/E
23     39412696  48065535 0072  2AL    122 BRIDLEWOOD LANE SW  CENSUS      I/E
15     39412470  48065535 0188  2AL     110 BRIDLEWOOD WAY SW  CENSUS      I/E
41     48800722  48065536 0077   2A       10 BRIDLEWOOD PK SW  CENSUS      I/E

In [9]:
df[(df['Location'].str.contains('BRIDLERIDGE'))].sort_values(by='Location',ascending=False )

    Case number           SSID Form                  Location  Survey Activity
14     39412308  48065533 0127  2AL  8-8 BRIDLERIDGE MANOR SW  CENSUS      I/E
10     39410699  48065518 0038  2AL     77 BRIDLERIDGE CIR SW  CENSUS      I/E
29     48794997  48065518 0247   2A    76 BRIDLERIDGE GDNS SW  CENSUS      I/E
36     48799786  48065533 0468   2A   260 BRIDLERIDGE VIEW SW  CENSUS      I/E
34     48799509  48065533 0064   2A   201 BRIDLERIDGE VIEW SW  CENSUS      I/E
47     48801025  48065536 0279   2A    190 BRIDLERIDGE WAY SW  CENSUS      I/E
42     48800790  48065536 0281   2A    182 BRIDLERIDGE WAY SW  CENSUS      I/E
35     48799702  48065533 0416   2A    16 BRIDLERIDGE LANE SW  CENSUS      I/E
28     48794738  48065518 0045   2A    137 BRIDLERIDGE CIR SW  CENSUS      I/E

In [10]:
df[(df['Location'].str.contains('BRIDLECREEK'))].sort_values(by='Location')

    Case number           SSID Form                  Location  Survey Activity
7      39410534  48065518 0606  2AL  141 BRIDLECREEK GREEN SW  CENSUS      I/E
31     48795079  48065518 0557   2A     213 BRIDLECREEK PK SW  CENSUS      I/E
6      39410522  48065518 0578  2AL  307 BRIDLECREEK GREEN SW  CENSUS      I/E
39     48800597  48065535 0157   2A    51 BRIDLECREEK GATE SW  CENSUS      I/E
19     39412576  48065535 0300  2AL  530 BRIDLECREEK GREEN SW  CENSUS      I/E
20     39412613  48065535 0316  2AL    60 BRIDLECREEK TERR SW  CENSUS      I/E

In [11]:
df[(df['Location'].str.contains('BRIDLECREST'))].sort_values(by='Location')

    Case number           SSID Form               Location  Survey Activity
27     48791361  48065505 0115   2A  17 BRIDLECREST CRT SW  CENSUS      I/E
0      39409241  48065504 0052  2AL   66 BRIDLECREST RD SW  CENSUS      I/E
26     48791213  48065505 0147   2A   8 BRIDLECREST CRT SW  CENSUS      I/E

In [13]:
df[(df['Location'].str.contains('24 ST SW'))].sort_values(by='Location')

    Case number           SSID Form             Location  Survey Activity
1      39409346  48065504 0144  2AL  2205-16969 24 ST SW  CENSUS      I/E
24     48791007  48065504 0149   2A  2210-16969 24 ST SW  CENSUS      I/E
2      39409355  48065504 0160  2AL  2305-16969 24 ST SW  CENSUS      I/E
25     48791136  48065504 0190   2A  3119-16969 24 ST SW  CENSUS      I/E
4      39409504  48065504 0288  2AL  4303-16969 24 ST SW  CENSUS      I/E
5      39409522  48065504 0304  2AL  5102-16969 24 ST SW  CENSUS      I/E
3      39409496  48065504 0316  2AL  5114-16969 24 ST SW  CENSUS      I/E